body {
    margin: 0px;
}

.header1 {
    height: 70px;
    padding-left: 160px;
    display: flex;
    align-items: center;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
}

.header2 {
    padding-left: 160px;
    display: flex;
    align-items: center;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 64px;
}

.img1 {
    width: 265px;
    height: 265px;
    border-radius: 4px;
}

.conteiner1 {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    padding: 0px 0px 36px;
    height: 310px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 1120px;
    box-sizing: border-box;
    

}
.menu2{
    
    
    width: 100%;
height: 18px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
justify-content: flex-end;

color: #081E34;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
    
    
    /* width: 100%;
    gap: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #081E34;
    opacity: 0.5;
    justify-content: flex-end;
    padding: 0px; */
    


}
.last{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    width: 100%;
    height: 100%;
    flex: none;
    order: 3;
    flex-grow: 0;
    width: 1120px;
   
    padding: 0px 160px 42px 160px;
}
.nfac{
    width: 100%;
    /* height: 18px; */
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    padding-top: 0px;
    color: #081E34;
    justify-content: flex-end;
    color: #000000;

    
}

.s1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 200px;
}

.s2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.s3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.s4 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.s5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 5;
    flex-grow: 0;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
   
    


}

.left01 {
    display: flex;
    height: 24px;
    gap: 4px;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
    padding-bottom: 51px;
}

.img2 {
    width: 24px;
    height: 24px;

    


    flex: none;
    order: 0;
    flex-grow: 0;
}

.left02 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 693px;
}

.left03 {
    width: 693px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 24px;
}

.square {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.but {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
    border-radius: 100px;
    border: none;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #081E34;



    flex: none;
    order: 0;
    flex-grow: 0;
}

.min {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.dot {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.infoBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left04 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 325px;
    width: 755px;
    height: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 70px;
}

.square img {
    width: 24px;
    height: 24px;

    background: #E1E0E6;

    flex: none;
    order: 0;
    flex-grow: 0;

}
#Main{
    display: flex;
    flex-direction: column;
    gap: 45px;  
    padding: 0px 160px;
}   
